@import '../../globalStyles.scss';

.app-content--form {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 100%;
  height: 100%;
  box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);

  .trial-button {
    .purple-btn {
      background-color: $blue;
      box-shadow: 0px 8px 0px rgba(0, 0, 0, 0.14688);
      border-radius: 10px;
      padding: 0 2rem;
      font: $poppins-r-2;
      font-weight: 400;

      &:hover {
        cursor: pointer;
      }

      span {
        font-weight: 500;
      }
    }
  }

  .form-container--form {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    padding: 1.5rem 1rem;
    gap: 1rem;

    .input-container {
      display: flex;
      flex-direction: column;
      width: 460px;
      gap: .25rem;
      position: relative;

      .input-container--error {
        border: 2px solid $red;
      }
      
      .alert-icon {
        position: absolute;
        right: 10px;
        bottom: 47.5%;
      }
      
      .input-error {
        color: $red;
        align-self: flex-end;
        font: $poppins-r-1;
        font-style: italic;
      }
    }

    .submit {
      width: 460px;
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 0.25rem;

      .submit-btn {
        background: $green;
        box-shadow: inset 0px -4px 0px rgba(0, 0, 0, 0.0908818);
        border-radius: 5px;
        font: $poppins-sb-2;
        text-transform: uppercase;

        &:hover {
          background-color: #77E2B3;
          cursor: pointer;
        }
      }
      .terms {
        font: $poppins-r-1;
        color: $grayish-blue;

        span {
          font: $poppins-b-1;
          color: $red;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}