// font import
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// typography
$poppins-r-1: 500 .6875rem/16.5px 'Poppins', sans-serif;
$poppins-r-2: 500 .9375rem/26px 'Poppins', sans-serif;
$poppins-r-3: 500 1rem/26px 'Poppins', sans-serif;
$poppins-sb-1: 600 .875rem/26px 'Poppins', sans-serif;
$poppins-sb-2: 600 .9375rem/26px 'Poppins', sans-serif;
$poppins-b-1: 700 .6875rem/26px 'Poppins', sans-serif;
$poppins-b-2: 700 3.25rem/55px 'Poppins', sans-serif;

// colors
// 1. Primary
$red: #FF7979;
$green: #38CC8B;

// 2.Accent
$blue: #5E54A4;

// 3.Neutral
$dark-blue: #3D3B48;
$grayish-blue: #BAB7D4;

// button
.btn {
  height: 3rem;
  width: 100%;
  border: none;
  color: white;
}

// input
input {
  height: 56px;
  background: #FFFFFF;
  border: 1px solid #dedede;
  border-radius: 5px;
  font: $poppins-sb-1;
  padding-left: 1rem;
  color: $dark-blue;

  &::placeholder {
    font: $poppins-sb-1;
    color: $dark-blue;
  }

  &:focus {
    outline: none;
    border: 1px solid $blue;
    font: $poppins-sb-1;

    &:focus::placeholder {
      color: white;
    }
    &:invalid {
      border-color: $red;
    }
  }
}