@import '../../globalStyles.scss';

.app-content--text {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  width: 100%;

  .text-h1 {
    font: $poppins-b-2;
    color: white;
  }

  .text-p {
    font: $poppins-r-3;
    color: white;
  }
}